div( ng-controller="MainCtrl")
span.info(ng-show="feedback")
    {{status}}
div
    img(src="http://192.168.0.17:8081")
div(class="panel panel-success")
    div(class="panel-heading")
        div RalphBot
    div(class="panel-body center-block")
        div.row
            div(class="col-xs-2 .col-md-2")
            div(class="col-xs-2 .col-md-2")
                button(class='btn btn-primary', ng-click="rover('frente')", title="Frente")
                    i(class="glyphicon glyphicon-arrow-up", style="font-size:96px;")
            div(class="col-xs-2 .col-md-2")
        div.row
            div(class="col-xs-2 .col-md-2")
                button(class='btn btn-primary', ng-click="rover('esquerda')", title="Esquerda")
                    i(class="glyphicon glyphicon-arrow-left", style="font-size:96px;")
            div(class="col-xs-2 .col-md-2")
                button(class="btn btn-danger" ,ng-click="rover('parar')", title="Parar")
                    i(class="glyphicon glyphicon-stop", style="font-size:96px;")
            div(class="col-xs-2 .col-md-2")
                button(class="btn btn-primary", ng-click="rover('direita')", title="Direita")
                    i(class="glyphicon glyphicon-arrow-right", style="font-size:96px;")
        div.row
            div(class="col-xs-2 .col-md-2")
            div(class="col-xs-2 .col-md-2")
                button(class='btn btn-primary', ng-click="rover('frente')", title="Frente")
                    i(class="glyphicon glyphicon-arrow-up", style="font-size:96px;")
            div(class="col-xs-2 .col-md-2")


div(class="panel panel-success")
    div(class="panel-heading")
        div RalphBot
    div(class="panel-body center-block")
        table(class="table table-bordered")
            tr
                td.span2
                td.span2
                    button(class='btn btn-primary', ng-click="rover('frente')", title="Frente")
                        i(class="glyphicon glyphicon-arrow-up", style="font-size:96px;")
                td.span2
            tr
                td.span2
                    button(class='btn btn-primary', ng-click="rover('esquerda')", title="Esquerda")
                        i(class="glyphicon glyphicon-arrow-left", style="font-size:96px;")
                td.span2
                    button(class="btn btn-danger" ,ng-click="rover('parar')", title="Parar")
                        i(class="glyphicon glyphicon-stop", style="font-size:96px;")
                td.span2
                    button(class="btn btn-primary", ng-click="rover('direita')", title="Direita")
                        i(class="glyphicon glyphicon-arrow-right", style="font-size:96px;")
            tr
                td.span2
                td.span2
                    button(class='btn btn-primary', ng-click="rover('frente')", title="Frente")
                        i(class="glyphicon glyphicon-arrow-up", style="font-size:96px;")
                td.span2
