<div class="span6"><span ng-show="feedback" class="info">{{status}}</span>

    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <div class="h1">RalphBot</div>
        </div>
        <div class="panel-body">
            <table class="table text-center center-block">
                <tr>
                    <td colspan="3" class="center"><img src="http://192.168.0.30:8081" height="240" width="320"/>

                        <h2 class="center-block">{{status.distance}}</h2></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div id="arm" ui-slider="{range: 'min', step:'5'}" min="0" max="180" ng-model="roverModel.arm"
                             ng-change="sliderChange('arm')"></div>
                    </td>
                    <span slider ng-model="roverModel.arm" min="0" max="180"></span>
                </tr>
                <tr></tr>
                <tr>
                    <td colspan="3">
                        <div>{{status.dir}}</div>
                        <div class="pull-left">&nbsp; Vel: {{status.vel}}</div>
                        <div class="pull-left">&nbsp; Arm: {{status.arm}}</div>
                        <div class="pull-left">&nbsp; Dist: {{status.distance}}</div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button ng-click="rover('frente')" title="Frente" class="btn btn-primary"><i
                            style="font-size:96px;"
                            class="glyphicon glyphicon-arrow-up"></i>
                        </button>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <button ng-click="rover('esquerda')" title="Esquerda" class="btn btn-primary"><i
                            style="font-size:96px;"
                            class="glyphicon glyphicon-arrow-left"></i>
                        </button>
                    </td>
                    <td>
                        <button ng-click="rover('parar')" title="Parar" class="btn btn-danger"><i
                            style="font-size:96px;"
                            class="glyphicon glyphicon-stop"></i>
                        </button>
                    </td>
                    <td>
                        <button ng-click="rover('direita')" title="Direita" class="btn btn-primary"><i
                            style="font-size:96px;"
                            class="glyphicon glyphicon-arrow-right"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button ng-click="rover('tras')" title="Tras" class="btn btn-primary"><i style="font-size:96px;"
                                                                                                 class="glyphicon glyphicon-arrow-down"></i>
                        </button>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <p>Status: {{status}}</p></div>
